@import "redmond/jquery-ui-1.10.4.custom.min.css";
@import "jquery.dataTables.css";

body {
    padding: 20px;
    margin: 0;
    font-family: Verdana, Tahoma, Arial;
}

.par {
    background: #CCC;
}
.text-bold{
    font-weight: bold !important;
}
.font-md{
    font-size: medium;
}

.calendario{
    margin-left: auto;
    margin-right: auto;
} 
.font-lg{
    font-size: large;
}

.impar {
    background: #FFF;
}
.labelVisual{
    color: #000066;
}
#container {
    display: block;
    width: 930px;
    margin: 0 auto;
}

#container #top {
    display: block;
    width: 930px;
    height: 60px;
}


#container #top #menu {
    margin-top: 13px;
    float: right;
    display: block;
    height: 40px;
    background: #FFF;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
}

#top #menu ul {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
}

#top #menu ul li {
    display: inline;
}

#top #menu ul li a {
    float: left;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    text-decoration: none;
     color: #111;
    padding: 0 15px;
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}

#top #menu ul li a:hover {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    background: #0E464E;
    color: #FFF;
}

#container #content {
    margin-top:  50px;
    display: block;
    width: 910px;
    padding: 10px;
}

#container-register{
    display: block;
    width: 574px;
    margin: 85px auto;
}

#container-visualizar{
    display: block;
    width: 900px;
    margin: 60px auto;
    height: auto;
}

#container-admin-home{
    display: block;
    width: 950px;
    margin: 85px auto;
    height: 100px;
}

#container #content #content_left {
    float: left;
    width: 435px;
}

#content h1.titulo {
    text-align: center;
    clear: both;
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: #3b3b3b;
    text-indent: 20px;
    margin: 0 0 20px;
}

#content h3{
    clear: both;
    display: block;
    font-weight: normal;
    color: #666;
    text-indent: 20px;
    margin: 0 0 20px;
    margin-bottom: 2px;
    
}

.docInfo{
    font-size: 18px;
    margin-bottom: 40px;
}
.titulo{
    margin-top: -38px;
}
#content h2.titulo {
    clear: both;
    font-size: 16px;
    font-weight: normal;
    color: #0E464E;
    text-align: center;
    margin: 10px 0 0;
    display: block;
    background: #ccc;
}


#content p {
    font-size: 14px;
    line-height: 20px;
    text-indent: 20px;
    text-align: justify;
    color: #666;
}

#content a {
    font-size: 12px;
    line-height: 20px;
    color: #0E464E;
    text-decoration: none;
}

#content a:hover {
    color:#000;
}

#content a.voltarCadastro {
    float: right;
    text-align: center;
    width: 90px;
    height: 25px;
    margin-right: 90px;
    line-height: 25px;
    background: #0E464E;
    color: #FFF;
    text-decoration: none;
}

#content a.voltar {
    display: inline-block;
    text-align: left;
    width: 78px;
    height: 25px;
    line-height: 25px;
    background: teal;
    color: #FFF;
    text-decoration: none;
    margin-left: -29px;
}

#content a.button {
    display: inline-block;
    text-align: center;
    padding: 1px 5px 1px 5px;
    background: teal;
    color: #FFF;
    text-decoration: none;
    margin-right: 20px;
}

#container #content #content_right {
    float: right;
    width: 435px;
}

#content #content_right p {
    font-size: 12px;
    color: #666;
    text-align: center;
}

#content #content_right p a {
    text-decoration: underline;
    color: #666;
}

#content #content_right form.login {
    width: 190px;
    margin: 10px auto;
    padding: 10px;
    border: #CCC solid 1px;
    background: url(../imagens/form_back.png) repeat-x top;
}

#content #content_right form.login fieldset {
    border: none;
    border-bottom: #666 dotted 1px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 30px;
}

#content_right form.login fieldset label {
    font-size: 12px;
    color: #666;
}

#content_right form.login fieldset input {
    border: #666 solid 1px;
}

#content_right form.login fieldset select {
    width: 155px;
    border: #666 solid 1px;
}

#content_right form.login input.button {
    width: 70px;
    height: 20px;
    background: url(../imagens/button_form.png) repeat-x;
    color: #FFF;
    border: #CCC solid 1px;
}

#content_right form.login input.button:hover {
    background: #0E464E;
}

#content form.cadastro {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 420px;
}

.box_destaque {
 
}

#content form.cadastro fieldset {
    border: none;
    border-bottom: #CCC dotted 1px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding: 10px;
}

#content form.cadastro label {
    font-size: 14px;
    height: 15px;
    line-height: 15px;
    color: #666;
}

#content form.cadastro label.left {
    float: left;
}

#content form.cadastro input {
    border: #0E464E solid 1px;
    width: 400px;
    margin-bottom: 5px;
    color: #666;
}

#content form.cadastro input.chk_box {
    clear: both;
    float: left;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 20px;
    height: 18px;
}

#content form.cadastro input.radio {
    float: left;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 20px;
    height: 18px;
}

#content form.cadastro input.button {
    float: left;
    width: 90px;
    height: 25px;
    margin-left: 90px;
    line-height: 25px;
    background: #0E464E;
    color: #FFF;
}


#content form.confirmaCertificado input.button {
    float: left;
    width: 90px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 120px;
    line-height: 25px;
    background: #0E464E;
    color: #FFF;
    
}

#content form.cadastro input.buscar {
    float: left;
    width: 260px;
}

#content form.cadastro textarea {
    border: #0E464E solid 1px;
    width: 395px;
    height: 100px;
}

#content #list {
    margin: 0px auto 0;
    display: block;
    width: 700px;
}

#content #list ul {
    display: block;
    padding: 0;
    margin: 0;
}

#list ul li {
    display: block;
}

#list ul li a {
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
}

#footer {
    clear: both;
    width: 100%;
    height: 60px;
}
.space-top{
    margin-top: 10px;
}

.space-top-camp{
    margin-top: 50px;
}
.footer-top {
  margin-top: 40px;
}


/** Classes Auxiliares **/

.nodisplay {
    display: none;
}

.left {
    float: left;
}

.clear {
    display: block;
    clear: both;
    margin:  0;
    padding: 0;
}

.margin-btn-left{
    margin-left: 4px;
}

#containerCertificado{
    display:block;
    width: 1200px;
    height: 550px;
    margin: 0 auto;
    margin-top:5px;
    background: silver;
    
}
#img_logo{
     width:850px;
     height:170px;
     position: relative;
     top: 50px;
     left: 175px;
}

input[disabled='disabled'] {
    border: 1px solid #999;
    background-color: #ccc;   
}

.validacaoCertificado{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 20px;    
}
footer {
    background-color: #2e8392;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    color: #fff;
}
footer img{
    width: 30px;
    background-color: #fff;
}
.title-register{
    text-align: center;
    clear: both;
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: #3b3b3b;
    text-indent: 20px;
    margin: 0 0 20px;
}
#img-centro{
    width:170px;
    height:140px;
    position:absolute;
    margin-top: -140px;
    margin-left: 20px;
   
}
.panel-cor{
       background-color: #2e8392 !important;
       color: white;
}
.text-center-footer{
    text-align: center;
    margin-top: 15px;
}
.text-center-admin-busca-organ{
    text-align: center !important;
}
.btn-default {
    color: #fff !important;
    background-color: #2e8392 !important;
    border-color: #2e8392 !important;
}

.btn-default:hover{
    background-color: #fff !important;
    color: #2e8392 !important;
}
.alert-danger{
    text-align: center;
}
.content-forgot{
    margin: 0 auto;
    width:80% 
}
.vertical-center {
  min-height: 70vh; /* These two lines are counted as one :-)       */
  margin-left:400px;
  display: flex;
  align-items: center;
}
#img-centro-pet{
      width:200px;
      height:200px;
      position:absolute;
      margin-top: -160px;
      margin-left: -220px;
}
.table>thead:first-child>tr:first-child>th {
    text-align: center !important;
}
.scroll-table{
   overflow: auto;
   width: auto;
   height: 300px;
    
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    padding: 2px !important;
    text-align: center !important;
}
.panel-body {
    padding: 1px !important;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 10px !important;
}
.panel-default>.panel-heading {
    color: #fff !important;
    background-color: #2E8394 !important;
    border-color: #2E8394 !important;
}
#container #content #content_left-contact {
    margin-top: 64px;
    float: left;
    width: 435px;
}
.col-md-11{
    position: relative;
    min-height: 1px;
    padding-right: 10px !important;
    padding-left: 8px !important;
}
.text-center-contact{
    text-align: center;
    margin-top: 260px;
}
blockquote {
    background-color: rgb(245, 245, 245);
    border-left: 4px solid #2e8392 !important;
}
#container-validate{
    display: block;
    width: 574px;
    margin: 85px auto;
}
.text-center-validate{
    text-align: center;
    padding: 15px;
}

/* Style barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 10px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

a{
    text-decoration: none !important;
}

#container-admin-add-event{
    display: block;
    width: auto;
    margin-top: 50px;
    height: 100px;
}

#container-admin-manege-org{
    display: block;
    width: 900px;
    margin: 60px auto;
}

.titulo-manege{
    font-size: 25px !important;
}

h1{
    font-size: 28px !important;
}

.well{
    background-color: #2e8392 !important;
    color: #fff;
}

.margin-contato{
    margin-top: 90px;
    top: 50%;
    left: 50%;
    position:absolute;
    margin-top: 0px;
    margin-left: 0px;
}

.margin-contato-address{
    margin-top: 90px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: 20px;
    margin-left: -150px;
}

.centralizar_contato{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0px !important;
    border: 1px solid #ccc !important;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #000;
}

.btn-primary-new {
  color: #fff !important;
  background-color: #2E8394 !important;
  border-color: #2e6da4;
}

.overflowController {
    height:400px; 
    overflow:auto;
}

.radiosCheck:hover {
    background: #FAFAFA !important;
    width: 870px;
}

#datenasc_up{
    padding: 0 !important;
}

button#datenasc.btn.btn-outline-secondary.glyphicon.glyphicon-calendar.form-control{
    top: 0 !important;
    border: 1px transparent !important;
}

span#datenasc_up.input-group-addon{
    border: 0 !important;
}
